<div class="flex-1">
  <li>
    <details>
      <summary>Informasi Umum</summary>
      <ul>
        <li><a href="/data-sekolah">Data Sekolah</a></li>
        <li><a href="/data-siswa">Data Siswa</a></li>
        <li><a href="/data-kelas">Data Kelas</a></li>
      </ul>
    </details>
  </li>
  <li>
    <details>
      <summary>Mata Pelajaran</summary>
      <ul>
        <li><a href="/daftar-mata-pelajaran">Daftar Mata Pelajaran</a></li>
        <li><a href="/ekstrakurikuler">Ekstrakurikuler</a></li>
      </ul>
    </details>
  </li>
  <li>
    <details>
      <summary>Input Nilai</summary>
      <ul>
        <li>
          <details>
            <summary>Kurikulum Merdeka</summary>
            <ul>
              <li><a href="/tujuan-pembelajaran">Tujuan Pembelajaran</a></li>
              <li><a href="/lingkup-materi">Lingkup Materi</a></li>
              <li><a href="/asesmen-formatif">Asesmen Formatif</a></li>
              <li><a href="/asesmen-sumatif">Asesmen Sumatif</a></li>
              <li><a href="/nilai-akhir">Nilai Akhir</a></li>
            </ul>
          </details>
        </li>
        <li><a href="/absen">Absen</a></li>
        <li><a href="/nilai-extrakurikuler">Nilai Extrakurikuler</a></li>
      </ul>
    </details>
  </li>
  <li>
    <details>
      <summary>Cetak Dokumen</summary>
      <ul>
        <li><a href="/cetak-rapor">Cetak Rapor</a></li>
        <li><a href="/cetak-cover">Cetak Cover</a></li>
        <li><a href="/cetak-biodata">Cetak Biodata</a></li>
      </ul>
    </details>
  </li>
</div>