@import 'tailwindcss';
@plugin "daisyui" {
	exclude: rootscrollgutter;
}
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@utility prose {
	:root & {
		:where(code):not(pre > code) {
			@apply bg-primary text-base-100 border-none;
		}
	}
}

a[data-preloading] {
	@apply cursor-wait opacity-50;
}

@layer components {
	.select-ellipsis {
		max-width: min(100vw, 20rem);
	}

	.select-ellipsis option {
		max-width: min(100vw, 20rem);
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

@media print {
	body {
		background: transparent;
		margin: 0 !important;
		padding: 0 !important;
	}
	#header,
	#footer,
	.navbar {
		display: none !important;
	}
}
